<% provide(:title, "Edit user") %> 
<div class="container-narrow">
	<h1>Update your profile</h1>
	<%= bootstrap_form_for(@user) do |f| %>
		<%= f.alert_message "Please fix the errors below." %>
		<%= f.error_summary %>
		<%= f.text_field :name %>
		<%= f.text_field :email %>
		<%= f.password_field :password %>
		<%= f.password_field :password_confirmation %>
		<%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
	<% end %>
	</p></p>
	<%= gravatar_for @user %>
	<a href="http://gravatar.com/emails">change</a>
</div>
