<div class="container-narrow">
		<% provide(:title, 'Sign up') %><h1>Sign up</h1>
		<%= bootstrap_form_for(@user) do |f| %>
		<%= f.alert_message "Please fix the errors below." %>
		<%= f.error_summary %>
		<%= f.text_field :name%>
		<%= f.email_field :email %>
		<%= f.password_field :password %>
		<%= f.password_field :password_confirmation%>
		<%= f.submit "create new user", class: "btn btn-large btn-primary"%>
		<% end %>

</div>