<div class="portlet box yellow">
	<div class="portlet-title">
		<div class="caption">
			<i class="ico-table"></i>Requisition List
		</div>
		<div class="tools">
			<a href="javascript:;" class="collapse"></a>
			<a href="javascript:;" class="reload"></a>
			<a href="javascript:;" class="remove"></a>
		</div>
	</div>

	<div class="portlet-body">

 <table class="table table-striped table-bordered table-hover" id="sample_2">
  <thead>
    <tr>
      <th> Req_ID</th>
      <th> Req_NO</th>
      <th>Position Title</th>
      <th>Priority</th>
      <th> OG</th>
      <th>Location</th>
      <th>Openings</th>
      <th>Hiring Mgr.</th>
      <th>Leading Time</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @requisitions.each do |requisition| %>
       <tr>
       	<td><%= requisition.Req_ID  %></td>
        <td><%= requisition.Req_NO  %></td>
        <td><%= link_to requisition.Position_title, requisition  %></td>
        <td><%= requisition.priority  %></td>
        <td><%= requisition.OG  %></td>
        <td><%= requisition.Location  %></td>
        <td><%= requisition.Openings  %></td>
        <td><%= requisition.hiring_mgr  %></td>
        <td><%= Integer(DateTime.parse(Time.now.to_s)-DateTime.parse(requisition.RMO_Open_Date.to_s)) %></td>
        <td><%= link_to 'Edit', edit_requisition_path(requisition) %>|
        <% if current_user && !current_user.admin? %>
        <%= link_to 'Destroy', requisition, method: :delete, data: { confirm: 'Are you sure?' } %>|
        <% end %>
        <%= link_to 'Clone', clone_path(:id => requisition.id ) %></td>  
       </tr>
       <% end %>
  </tbody>
  
</table>

<br> 

<% if current_user && !current_user.recruiter? %>
<%= link_to 'New Requisition', new_requisition_path, class: "btn blue" %>
<% end %>
</div>
</div>
