<h1>Listing data_dictionaries</h1>
----------Params Id:<%= @dict_id %>, Name:<%= @dict_name %>end----------

<table class="table table-striped table-bordered table-hover" id="sample_2">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Parent code</th>
      <th>Del flg</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @data_dictionaries.each do |data_dictionary| %>
      <tr>
        <td><%= data_dictionary.name %></td>
        <td><%= data_dictionary.description %></td>
        <td><%= data_dictionary.parent_code %></td>
        <td><%= data_dictionary.del_flg %></td>
        <td><%= link_to 'Show', data_dictionary, class: "btn blue" %>
        	<%= link_to 'Edit', edit_data_dictionary_path(data_dictionary), class: "btn blue" %> 
        	<%= link_to 'Destroy', data_dictionary, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn yellow" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Data dictionary', new_data_dictionary_path(:idnew => @dict_id), class: "btn blue" %>  
<%= link_to 'Back to Dictionary List', { :controller => "datadictionarylist", :action => "index"}, class: "btn blue" %>
