<% provide(:title, @job.title) %>
<div class="container">
	<div class="blog-main blog-post">
		<h1 class="blog-post-title"> <%= @job.title %> </h2>

		<p class="blog-post-meta">
			Posted <%= time_ago_in_words(@job.created_at) %> ago.
		</p>
		<p>
			Department of <%= @job.dept %>
		</p>
		<p>
			Number: <%= @job.opennum %>
		</p>
		<hr>
		</hr>
		<h2>Job description</h2>
		<p>
			<%= simple_format(@job.description) %>
		</p>
		<hr></hr>
		<h2>Requirement</h2>
		<p>
			<%= simple_format(@job.requirement)%>
		</p>
	</div>
</div>
