<!DOCTYPE html>


<%= render 'layouts/bsheader'%>

<!-- BEGIN BODY -->

<body class="page-header-fixed">

	<!-- BEGIN HEADER -->

	<div class="header navbar navbar-inverse navbar-fixed-top">
		<!-- BEGIN TOP NAVIGATION BAR -->
		<div class="navbar-inner">

			<div class="container-fluid">

				<!-- BEGIN LOGO -->

				<!--<a class="brand" href="index.html">-->

				<img width="390px" height="22px" style=margin-top:15px src="/assets/media/image/merkle-logo-tagline_04.png" alt="logo" />
                <!--</a>-->

				<!-- END LOGO -->

				<!-- BEGIN RESPONSIVE MENU TOGGLER -->

				<a href="javascript:;" class="btn-navbar collapsed" data-toggle="collapse" data-target=".nav-collapse">

				<img src="/assets/media/image/menu-toggler.png" alt="" />

				</a>          

				<!-- END RESPONSIVE MENU TOGGLER -->            

				<!-- BEGIN TOP NAVIGATION MENU -->              

				<ul class="nav pull-right">
					<!-- BEGIN USER LOGIN DROPDOWN -->
					<%= render 'layouts/usertag'%>
					<!-- END USER LOGIN DROPDOWN -->
				</ul>

				<!-- END TOP NAVIGATION MENU --> 

			</div>

		</div>
		<!-- END TOP NAVIGATION BAR -->
	</div>

	<!-- END HEADER -->

	<%= render 'layouts/sidebar'%>
		<!-- BEGIN PAGE -->
		<div class="page-content">
			<div class="container-fluid">
				<!-- BEGIN PAGE CONTENT-->
				<div class="row-fluid">
					<div class="span12">
						<% flash.each do |key, value| %>
						<div class="alert alert-<%= key %>">
							<%= value %>
						</div>
						<% end %>
						<%= yield %>
					</div>
				</div>
			</div>
		</div>
		<!-- END PAGE -->

	</div>

	<!-- END CONTAINER -->

	<!-- BEGIN FOOTER -->
	<%= debug(params) if Rails.env.development? %>
	<div class="footer">

		<div class="footer-inner">

			2014 &copy; HR System by Merkleinc.

		</div>

		<div class="footer-tools">

			<span class="go-top">

			<i class="icon-angle-up"></i>

			</span>

		</div>

	</div>
	<!-- END FOOTER -->
	<!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
	<!-- BEGIN CORE PLUGINS -->
	<script src="/assets/media/js/jquery-1.10.1.min.js" type="text/javascript"></script>
	<script src="/assets/media/js/jquery-migrate-1.2.1.min.js" type="text/javascript"></script>
	<!-- IMPORTANT! Load jquery-ui-1.10.1.custom.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip -->
	<script src="/assets/media/js/jquery-ui-1.10.1.custom.min.js" type="text/javascript"></script>      
	<script src="/assets/media/js/bootstrap.min.js" type="text/javascript"></script>

	<!--[if lt IE 9]>

	<script src="/assets/media/js/excanvas.min.js"></script>

	<script src="/assets/media/js/respond.min.js"></script>  

	<![endif]-->   

	<script src="/assets/media/js/jquery.slimscroll.min.js" type="text/javascript"></script>

	<script src="/assets/media/js/jquery.blockui.min.js" type="text/javascript"></script>  

	<script src="/assets/media/js/jquery.cookie.min.js" type="text/javascript"></script>

	<script src="/assets/media/js/jquery.uniform.min.js" type="text/javascript" ></script>

	<!-- END CORE PLUGINS -->

	<!-- BEGIN PAGE LEVEL PLUGINS -->

	<script type="text/javascript" src="/assets/media/js/select2.min.js"></script>

	<script type="text/javascript" src="/assets/media/js/jquery.dataTables.js"></script>

	<script type="text/javascript" src="/assets/media/js/DT_bootstrap.js"></script>

	<!-- END PAGE LEVEL PLUGINS -->

	<!-- BEGIN PAGE LEVEL SCRIPTS -->

	<script src="/assets/media/js/app.js"></script>

	<script src="/assets/media/js/table-managed.js"></script>     

	<script>

		jQuery(document).ready(function() {       

		   App.init();

		   TableManaged.init();

		});

	</script>

<script type="text/javascript">
	var _gaq = _gaq || [];
	_gaq.push(['_setAccount', 'UA-37564768-1']);
	_gaq.push(['_setDomainName', 'keenthemes.com']);
	_gaq.push(['_setAllowLinker', true]);
	_gaq.push(['_trackPageview']);
	(function() {
		var ga = document.createElement('script');
		ga.type = 'text/javascript';
		ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
		var s = document.getElementsByTagName('script')[0];
		s.parentNode.insertBefore(ga, s);
	})();
	</script></body>

<!-- END BODY -->

</html>

